In [13]:
import sqlite3

con = sqlite3.connect("../data/db/ANTTOpenData.db")
cur = con.cursor()

In [7]:
cur.execute("CREATE TABLE RegularTrips(id, cnpj, plate, line, tripType, expectedTripDate, expectedTripHour, tripStartDate, tripEndDate, lineDirection, latitude, longitude, pdop, imei, transbordo, transbordoCode)")

OperationalError: table RegularTrips already exists

In [14]:
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()

('RegularTrips',)

In [15]:
con.close()

In [31]:
from os import listdir
from os.path import isfile, join
import pandas as pd

pathPrefix = "../data/files/"
dataPath = os.getcwd() + "/" + pathPrefix
print(dataPath)

files = [f for f in listdir(dataPath) if isfile(join(dataPath, f))]

/home/juliano/projects/Bus-Trips-In-Brazil/src/../data/files/

In [37]:
import charset_normalizer

firstFile = files[0]
with open(pathPrefix + firstFile, 'rb') as rawdata:
    result = charset_normalizer.detect(rawdata.read(10000))

print(firstFile, result)

viagem_regular_10_2022.csv {'encoding': 'Windows-1252', 'language': 'Portuguese', 'confidence': 1.0}

In [43]:
import numpy as np

colTypes = {'codigo_viagem':'str', 
            'cnpj':'str',
            'placa':'str',
            'nu_linha':'str',            
            'tipo_viagem':'str',
            'data_viagem_programada':'str',
            'hora_viagem_programada':'str',
            'data_inicio_viagem':'str',
            'data_fim_viagem':'str',
            'sentido_linha':'str',
            'latitude':np.float64,
            'longitude':np.float64,
            'pdop':np.float64,
            'numero_imei':'str',
            'in_transbordo':'str',
            'codigo_viagem_transbordo':'str'
           }

df = pd.read_csv(pathPrefix + firstFile, encoding=result['encoding'], delimiter=';', header=0, dtype=colTypes)
df.head()

,codigo_viagem,cnpj,placa,nu_linha,tipo_viagem,data_viagem_programada,hora_viagem_programada,data_inicio_viagem,data_fim_viagem,sentido_linha,latitude,longitude,pdop,numero_imei,in_transbordo,codigo_viagem_transbordo
0,5105552,78586674000107,SDS0J21,19008551,0,13-10-2022,18:30:00,13-10-2022 17:35:52,14-10-2022 11:09:00,0,-22.228829,-54.772912,0.0,7223b45b6a79c34,NÃO,NaN
1,5105563,78586674000107,SDQ9G47,09039031,0,13-10-2022,18:45:00,13-10-2022 18:43:31,13-10-2022 19:52:31,1,-22.979963,-49.902584,0.0,353028105417459,NÃO,NaN
2,5105564,78586674000107,BCY9I92,09039031,0,13-10-2022,18:50:00,13-10-2022 17:58:29,13-10-2022 19:50:04,0,-23.045506,-50.230369,0.0,353028105432078,NÃO,NaN
3,5105566,78586674000107,BCF5549,09014451,0,13-10-2022,19:00:00,13-10-2022 18:21:21,14-10-2022 08:40:15,1,-23.933118,-46.334373,0.0,f9e7972384824e9,NÃO,NaN
4,5105574,78586674000107,RHX7E78,09014451,0,13-10-2022,19:00:00,13-10-2022 16:54:36,14-10-2022 07:55:37,0,-22.980955,-49.902951,0.0,39199bf35f3e3a8,NÃO,NaN

In [36]:
df.dtypes

codigo_viagem                 int64
cnpj                          int64
placa                        object
nu_linha                      int64
tipo_viagem                   int64
data_viagem_programada       object
hora_viagem_programada       object
data_inicio_viagem           object
data_fim_viagem              object
sentido_linha                 int64
latitude                    float64
longitude                   float64
pdop                        float64
numero_imei                  object
in_transbordo                object
codigo_viagem_transbordo    float64
dtype: object